body{
	padding-top: 110px !important;
}

#sidebar{
	margin-top: 2%;
	padding-top: 0.5%;
	padding-left: 0.25%;
	padding-right: 0.25%;
	width: 26%;
	height: calc(100vh - 420px);
	position: absolute;
	left: 2%;
	background-color: white;
}

#graph{
	position: absolute;
	right: 2%;
	width: 70%;
	height: calc(100vh - 120px);
}

body{
	padding-top: 110px;
	background: none !important;
}
