body{
	padding-top: 110px;
	background: url(../site/img/prism.png)repeat 0 0;
}

.navbar-custom{
	background: url(../site/img/what-the-hex.png)repeat 0 0;
}

#brand{
	margin-right: 18px;
}

#main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#sidebar{
	width: 26%;
	height: calc(100vh - 120px);
	position: absolute;
	left: 0%;
	background-color: #FFB3B3;
}

#graph{
	position: absolute;
	right: 2%;
	width: 70%;
	height: calc(100vh - 120px);
}

#input{
	background-color: white;
}

h1, h2 {
	font-family: 'Allerta', serif;
	color: white;
}

nav-head{
	display: block;
	font-size: 1.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: 'Allerta', serif;
	color: #31A9B8;
	font-size: 40px;
	line-height: 25px;
}
 
p {
	font-family: 'Crimson Text', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: white;
}

p-invert {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: 'Crimson Text', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: black;
}