body{
	font: 20px Comic Sans MS;
}

#main{
	width: 100%;
	position: relative;
	background-color: yellow;
}

#sidebar{
	width: 30%;
	position: absolute;
	left: 0;
	background-color: red;
}

#graph{
	background-color: green;
	position: absolute;
	right: 0;
	width: 70%;
}

#input{
	background-color: white;
}
