
:root{
	--slider-bg: #454545;/*background for the slider*/
	/*#50555C;*/
	--slider-sl: #31A9B8; /*the slidey part*/
	/*#529DE1; */
}

body{
	padding-top: 110px;
	background: url(../site/img/prism.png)repeat 0 0;
}

.navbar-custom{
	background: url(../site/img/what-the-hex.png)repeat 0 0;
}

/*#header{
	width:100%;
	padding-left: 50px;
	padding-right: 50px;
	height: 150px;
}*/

#brand{
	/*padding-right: 70%;*/
}

#main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#sidebar{
	margin-top: 2%;
	padding-top: 0.5%;
	padding-left: 0.25%;
	padding-right: 0.25%;
	width: 26%;
	height: calc(100vh - 420px);
	position: absolute;
	left: 2%;
	background-color: white;
}

#graph{
	position: absolute;
	right: 2%;
	width: 70%;
	height: calc(100vh - 120px);
}

#input{
	border-radius: 5px;
	background-color: white;
	width: 64%;
}

#submit{
	height: 30px;
	
}

h1, h2 {
	font-family: 'Allerta', serif;
	color: white;
}

nav-head{
	display: block;
	font-size: 1.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: 'Allerta', serif;
	color: #31A9B8;
	font-size: 36px;
	line-height: 25px;
}

h1-invert{
	display: block;
	font-size: 1.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: 'Allerta', serif;
	color: black;
	font-size: 40px;
	line-height: 25px;
}
 
p {
	font-family: 'Crimson Text', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: white;
}

p-invert {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: 'Crimson Text', sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: black;
}

/*slider stuff*/
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px var(--slider-bg);
  background: var(--slider-bg);
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: var(--slider-sl);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--slider-bg);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px var(--slider-bg);
  background: var(--slider-bg);
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: var(--slider-sl);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--slider-bg);
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px var(--slider-bg);
}
input[type=range]::-ms-fill-upper {
  background: var(--slider-bg);
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px var(--slider-bg);
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: var(--slider-sl);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--slider-bg);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--slider-bg);
}