body{
	padding-top: 110px;
	background: url(../site/img/prism.png)repeat 0 0;
}

#nav{
	width: 100%;
	position: relative;
	background-color: gray;
}

#main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#sidebar{
	width: 26%;
	height: calc(100vh - 120px);
	position: absolute;
	left: 2%;
	background-color: red;
}

#graph{
	position: absolute;
	right: 2%;
	width: 70%;
	height: calc(100vh - 120px);
}

#input{
	background-color: white;
}

h1, h2 {
 font-family: 'Allerta', serif;
 color: white;
}
 
p {
 font-family: 'Crimson Text', sans-serif;
 font-size: 20px;
 line-height: 25px;
 color: white;
}

p-invert {
 font-family: 'Crimson Text', sans-serif;
 font-size: 20px;
 line-height: 25px;
 color: black;
}

#main, #container-fluid{
	width: 100% !important;
}
